<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Danh sách khách hàng</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Khách Hàng</li>
                </ol>
            </nav>
        </div>
    </div>
    <div id="search">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Nhập tên, số điện thoại khách hàng" [(ngModel)]="searchData"
                (ngModelChange)="getListSearch()" />
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch>
                <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOption($event)" style="width: 210px">
                  <nz-option nzValue="SearchPhone" nzLabel="Số điện thoại khách hàng"></nz-option>
                    <nz-option nzValue="SearchName" nzLabel="Tên khách hàng"></nz-option>
                </nz-select>
            </button>
        </ng-template>
    </div>
    <section class="section">
        <nz-table #basicTable [nzLoading]="loading" [nzData]="listsearch" [nzPageSize]="5"  [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger>
            <thead>
                <tr>
                  <th style="text-align: center;">Số điện thoại</th>
                    <th style="text-align: center;">Họ và tên</th>
                    <th style="text-align: center;">Ngày tạo tài khoản</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data" style="text-align: center;">
                  <td (click)="detail(data.id)">{{ data.phoneNumber }}</td>
                    <td (click)="detail(data.id)">{{ data.fullName }}</td>
                    <td (click)="detail(data.id)">{{ data.createdAt|date:'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </nz-table>
    </section>
</main>
