<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Danh sách sản phẩm</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </nav>
        </div>
        <div>
        </div>
        <div>
            <div>
                <button id="create-button" nz-button nzType="primary" nzSize="large" style="border-radius: 10px">
                    <a routerLink="/dashboard/create-medicine">
                        <i class="bi bi-plus"></i>
                        <span>Tạo sản phẩm</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <nz-tabset [nzSize]="'small'">
      <nz-tab nzTitle="Đang bán">
        <br>
        <div id="search">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
              <input type="text" nz-input placeholder="Nhập mã, barcode, tên sản phẩm" [(ngModel)]="searchData"
                  (ngModelChange)="getListSearch()" />
          </nz-input-group>
          <ng-template #suffixButton>
              <button nz-button nzType="primary" nzSize="large" nzSearch style="min-width: 150px;color: aliceblue;">
                  <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOption($event)">
                      <nz-option nzValue="searchID" nzLabel="Mã sản phẩm"></nz-option>
                      <nz-option nzValue="searchBarcode" nzLabel="Mã barcode"></nz-option>
                      <nz-option nzValue="SearchName" nzLabel="Tên sản phẩm"></nz-option>

                  </nz-select>
              </button>
          </ng-template>
      </div>
        <section class="section">
          <nz-table [nzLoading]="loading" [nzData]="listsearch" #basicTable [nzPageSize]="5"
              [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger style="text-align: center">
              <thead>
                  <tr >
                      <th style="text-align: center">Mã số đăng kí</th>
                      <th style="text-align: center">Mã barcode</th>
                      <th style="text-align: center">Tên sản phẩm</th>
                      <th style="text-align: center">Giá bán</th>
                      <!-- <th [nzFilters]="nameList"
                      [nzFilterMultiple]="true"
                      [nzFilterFn]="nameFilterFn"
                      style="text-align: center">Trạng thái hoạt động</th> -->
                      <th style="text-align: center">Trạng thái hoạt động</th>
                  </tr>
              </thead>
              <tbody>
                  <tr style="cursor: pointer;" *ngFor="let data of basicTable.data" style="text-align: center">
                      <td (click)="detail(data.id)">
                          {{data.drugRegistrationNumber}}
                      </td>
                      <td (click)="detail(data.id)">
                          <ngx-barcode bc-value={{data.barcode}} [bc-display-value]="true" [bc-width]="width"
                              [bc-height]="height"></ngx-barcode>
                      </td>
                      <td (click)="detail(data.id)">{{ data.name}}</td>
                      <td (click)="detail(data.id)">{{ data.productUnits[0].price| number }} đ/ {{data.productUnits[0].unit}}</td>
                      <td>
                        <a *ngIf="data.isActive == true; else isActive" >
                          <nz-tag [nzColor]="'green'" (click)="isInActiveProduct(data.id)">Còn bán</nz-tag>
                        </a>
                      <ng-template #isActive>
                          <a>
                              <nz-tag [nzColor]="'red'" (click)="isActiveProduct(data.id)">Ngừng bán</nz-tag>
                          </a>
                      </ng-template>
                      </td>
                  </tr>
              </tbody>
          </nz-table>
      </section>

      </nz-tab>
      <nz-tab nzTitle="Có lỗi" >
        <app-list-medicine-inactive></app-list-medicine-inactive>
      </nz-tab>
    </nz-tabset>

</main>
