<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
      <div>
          <h1>Danh sách nhà cung cấp</h1>
          <nav>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                  <li class="breadcrumb-item active">Nhà cung cấp</li>
              </ol>
          </nav>
      </div>
      <div>
        <button nz-button nzType="primary" (click)="showModal()" style="border-radius: 10px" nzSize="large"><i class="bi bi-plus"></i>
            <span>Tạo nhà cung cấp</span></button>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo nhà cung cấp" nzOkText="Tạo nhà cung cấp"
            nzCancelText="Hủy" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
            <ng-container *nzModalContent>
                <nz-form-label nzRequired for="inputName5" class="form-label">Tên nhà cung cấp</nz-form-label>
                <input type="text" class="form-control" id="inputName" [(ngModel)]="supplierName">
                <div *ngIf="checkError == true">
                    <small style="color: red;">Vui lòng nhập tên nhà cung cấp</small>
                </div>
            </ng-container>
        </nz-modal>
    </div>
  </div>
  <div id="search">
    <nz-input-group nzSearch nzSize="large" ><!--[nzAddOnAfter]="suffixButton"-->
        <input type="text" nz-input placeholder="Nhập tên nhà cung cấp ..." [(ngModel)]="searchData"
            (ngModelChange)="getListSearch()" />
    </nz-input-group>
    <!-- <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch>
            <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOption($event)">
                <nz-option nzValue="searchID" nzLabel="Mã nhà cung cấp"></nz-option>
                <nz-option nzValue="SearchName" nzLabel="Tên nhà cung cấp"></nz-option>
            </nz-select>
        </button>
    </ng-template> -->
</div>
  <section class="section" >
      <!-- [nzScroll]="{ x: '1150px', y: '600px' }" -->
      <nz-table [nzLoading]="loading" [nzData]="listsearch" #basicTable [nzPageSize]="5"
          [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger >
          <thead>
              <tr>
                  <!-- <th style="text-align: center;">ID</th> -->
                  <th style="text-align: center;">Tên nhà cung cấp</th>
                  <th style="text-align: center;">Ngày tạo</th>
                  <th [nzFilters]="nameList"
                  [nzFilterMultiple]="true"
                  [nzFilterFn]="nameFilterFn" style="text-align: center;">Hoạt động</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr style="cursor: pointer;" *ngFor="let data of basicTable.data" style="text-align: center;">
                  <!-- <td (click)="Detail(data.id)">{{ data.id}}</td> -->
                  <td (click)="Detail(data.id)">{{ data.name || null }}</td>
                  <td (click)="Detail(data.id)">{{ data.createdAt | date: 'dd-MM-yyyy'}}</td>
                  <td>
                    <div *ngIf="data.isActive == true; else isActive">
                        <nz-tag [nzColor]="'green'" (click)="clickBan(data.id)">Hoạt động</nz-tag>
                    </div>
                    <ng-template #isActive>
                        <div>
                            <nz-tag [nzColor]="'red'" (click)="clickUnBan(data.id)">Ngừng hoạt động</nz-tag>
                        </div>
                    </ng-template>
                </td>
              </tr>
          </tbody>
      </nz-table>
  </section>
</main>

